.day-history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  height: 95%;
  padding-bottom: 1.5vh;

  .day-summary {
    margin-top: 1.5vh;
    display: flex;
    flex-direction: column;

    &__item {
      display: flex;
      justify-content: space-between;

      h4 {
        margin: 0;
        margin-top: 0.35em;
        padding: 0;
      }

      .income {
        color: green;
      }
      .expense {
        color: red;
      }
    }
  }

  .expense-list {
    margin-bottom: 1.5vh;
    overflow-y: auto; /* 스크롤이 필요한 경우에만 스크롤이 표시됨 */
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }
  }
  .expense-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5vh;

    span {
      margin: 0;
      margin-top: 0.35em;
      padding: 0;
    }

    .edit-button,
    .remove-button {
      cursor: pointer;
      padding: 0.25em 0.5em;
    }

    .edit-button {
      background-color: cornflowerblue;
      color: white;
      border: none;
      border-radius: 5px;
    }

    .remove-button {
      background-color: gray;
      color: white;
      border: none;
      border-radius: 5px;
    }
  }
}
