@import url("../scss/font.scss");

.budget__status {
  width: 75%;
  height: 20%;
  font-family: GmarketSansMedium;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.budget__status-title {
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 1vh;
  h4 {
    margin-top: 0;
    margin-bottom: 1vh;
    font-size: 1.2vw;
  }
}

.budget__status-detail {
  display: flex;
  padding: 15px 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  span {
    color: gray;
    font-size: 120%;
  }

  strong {
    font-size: 130%;
  }

  .income_strong {
    color: green;
  }
  .expense_strong {
    color: red;
  }
}

.budget__status-detail::before {
  content: "";
  position: absolute;
  left: 25%;
  transform: translateX(-50%);
  width: 0;
  height: 45px;
  opacity: 0.5;
  border: 1px solid #dedede;
}

.budget__status-detail--desc {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 50%;
}
