.month-history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  height: 97%;
}

.top {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5vh;
  h2 {
    margin: 0;
    margin-top: 0.35em;
    padding: 0;
  }
}

.x-icon {
  cursor: pointer;
}
